<!DOCTYPE html>
<html>
<head>
    <title>商家注册</title>
    <link rel="stylesheet" href="/output/dist/css/register.css">
</head>
<body>
    <div id="app"></div>
    <script src="/output/dist/js/vendor.js"></script>
    <script src="/output/dist/js/register.js"></script>
</body>
</html>
