<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <div>
    <h1><%= title %></h1>
    <form action="/admin/upload" method="POST">
      <input type="file" name="avatar">
      <input type="submit" value="提交">
    </form>
  </div>
</body>
</html>
